@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
      @apply text-black leading-none w-fit px-8 py-4 rounded-full font-medium flex items-center justify-center gap-2 transition-all
      ease-in-out
      [&:not(:disabled)]:active:brightness-95
      outline-0 
      [&:not(:disabled)]:focus:outline-4
      disabled:saturate-0 disabled:opacity-70
  }

  .btn.default {
    @apply bg-yellow-500
    [&:not(:disabled)]:hover:bg-yellow-600 [&:not(:disabled)]:hover:scale-[1.05]
    outline-yellow-600/30
  }

  .btn.ghost-dark {
    @apply text-white border border-white/10 bg-white/10
    [&:not(:disabled)]:hover:bg-white/15
    outline-white/30
    disabled:border-0
  }

  .btn.ghost {
    @apply border border-black/10 bg-black/10
    [&:not(:disabled)]:hover:bg-black/15
    outline-black/30
    disabled:border-0
  }

  .btn-sm {
    @apply py-1 px-2 font-normal text-base
  }

  /* ALERTS */
  .alert { @apply flex w-fit justify-center p-6 rounded-xl }
  .alert.sm { @apply py-2 px-4 }

  .warning.alert { @apply text-yellow-900 bg-yellow-600/15 }
  .danger.alert { @apply text-red-600 bg-red-700/15 }
  .success.alert { @apply text-green-500 bg-green-500/15 }

  /* INPUTS */
  .input {
    @apply
    px-6 py-4 rounded-full bg-gray-100 border border-gray-300 dark:bg-d-gray-100 dark:border-d-gray-300
    focus-within:ring-4 outline-none ring-yellow-500/25 focus-within:border-yellow-500 focus-within:dark:border-yellow-900
    transition-all will-change-[shadow,_border-color]
    text-gray-600 dark:text-d-gray-600
  }

  .input-inner {
    @apply text-black dark:text-white placeholder:text-gray-600 dark:placeholder:text-d-gray-600 bg-transparent border-none outline-none
  }

  /* CHIPS */
  .chip {
    @apply 
      flex justify-center items-center cursor-default rounded-full px-2 py-1.5
      text-sm leading-none transition-all
  }

  .chip.c-yellow { @apply bg-yellow-500/10 border border-yellow-500 text-yellow-900 }
  .chip.c-yellow.c-clickable { @apply hover:bg-yellow-500/25 active:bg-yellow-500/40 }
}

@layer base {
  html {
      height: 100%;
  }

  body {
      height: -webkit-fill-available;
      @apply bg-backgrond dark:!bg-d-backgrond text-black dark:!text-white;
  }
}